@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

@import "modules/header.scss";
@import "modules/content.scss";
@import "modules/aside.scss";
@import "modules/footer.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color: #000000;
}  

body {
  background: rgb(30, 20, 180);
  background: -moz-linear-gradient(
    180deg,
    rgba(30, 20, 180, 1) 4%,
    rgba(40, 34, 139, 1) 30%,
    rgba(31, 29, 73, 1) 60%,
    rgba(12, 12, 45, 1) 85%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(30, 20, 180, 1) 4%,
    rgba(40, 34, 139, 1) 30%,
    rgba(31, 29, 73, 1) 60%,
    rgba(12, 12, 45, 1) 85%
  );
  background: linear-gradient(
    180deg,
    rgba(30, 20, 180, 1) 4%,
    rgba(40, 34, 139, 1) 30%,
    rgba(31, 29, 73, 1) 60%,
    rgba(12, 12, 45, 1) 85%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e14b4",endColorstr="#0c0c2d",GradientType=1);
  min-height: 100vh;
  font-family: "Open Sans";
  backdrop-filter: blur(4px);
  color: #ffffff;
  display: grid;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header header"
    "... main aside ..."
    "footer footer footer footer";
  grid-template-columns: 1fr 500px 170px 1fr;
  grid-template-rows: 180px auto 50px;
  grid-column-gap: 32px;
  @media (max-width: 320px) {
    grid-template-areas:
    "header header header header"
    "main main main main"
    "aside aside aside aside"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px auto auto 50px;
  column-gap: 0;
  }
}

.special-text {
  position: relative;
  top: -7px;
  padding-left: 3px;
}
