@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(30, 20, 180);
  background: -moz-linear-gradient(
    180deg,
    rgba(30, 20, 180, 1) 4%,
    rgba(40, 34, 139, 1) 30%,
    rgba(31, 29, 73, 1) 60%,
    rgba(12, 12, 45, 1) 85%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(30, 20, 180, 1) 4%,
    rgba(40, 34, 139, 1) 30%,
    rgba(31, 29, 73, 1) 60%,
    rgba(12, 12, 45, 1) 85%
  );
  background: linear-gradient(
    180deg,
    rgba(30, 20, 180, 1) 4%,
    rgba(40, 34, 139, 1) 30%,
    rgba(31, 29, 73, 1) 60%,
    rgba(12, 12, 45, 1) 85%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e14b4",endColorstr="#0c0c2d",GradientType=1);
  min-height: 100vh;
  font-family: "Open Sans";
  backdrop-filter: blur(4px);
  color: #ffffff;
  display: grid;
}

.button {
  margin-left: 16px;
  border: none;
  height: 40px;
  width: 77px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media (max-width: 320px) {
    margin: 0;
  }
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
    &__heading {
    font-style: normal;
    font-weight: 600;
font-size: 44px;
line-height: 64px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 10px;
  }
}

.main {
  grid-area: main;
  &__text {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 320px) {
      justify-content: space-around;
    }
  }
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
&__link {
  text-decoration: none;
  color: currentColor;
  
font-style: italic;

}
}

.textarea {
  padding: 16px;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header header"
    "... main aside ..."
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 140px auto 50px;
}
